body {
  background-color: rgb(255, 255, 255);
}

nav {
  border: 2px solid black;
  padding: 10px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Added transition for smooth background-color and scale */
}

nav:hover {
  background-color: #0051ff; /* Change background color on hover */
  transform: scale(1.05); /* Slightly scale up the navbar on hover */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

li {
  display: inline;
}

a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

a:hover {
  color: #ff0000; /* Change link color on hover */
}

.header-title {
  text-align: center;
  color: aliceblue;
}

#treaty-header {
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.content-container {
  background-color: rgba(219, 214, 214, 0.827);
}

.content {
  background-color: rgba(219, 214, 214, 0.827);
  padding: 20px;
}

.question-title {
  color: rgb(237, 253, 253);
  font-size: larger;
  text-align: left;
}

.content img {
  display: block;
  margin: 20px auto;
}
