body {
  background-color: rgb(255, 255, 255);
}

nav {
  border: 2px solid black;
  padding: 10px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav:hover {
  background-color: #0051ff; /* Change background color on hover */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

li {
  display: inline;
}

a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

a:hover {
  color: #ff0000; /* Change link color on hover */
}

.content {
  background-color: rgb(0, 0, 0); /* background color for <div> */
}

.content {
  background-color: rgba(219, 214, 214, 0.827); /* Background color */
  padding: 20px; /* Padding around the content */
}

.content h3 {
  text-align: left; /* Aligns the text to the left */
}

.content h3:first-of-type {
  color: rgb(237, 253, 253); /* Light color for the first h3 element */
}

.content h3:nth-of-type(n + 2) {
  /* n+2 mean the second h3 elements*/
  color: rgb(0, 0, 0); /* Black color for the rest of the h3 elements */
}

.content img {
  display: block; /* Makes the image a block element */
  margin: 20px auto; /* Centers the image with margins on top and bottom */
}

nav {
  background-color: #333;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

nav:hover {
  transform: scale(1.05);
}
